.footer-container{
    background-color: #1C1C1C;
    color: rgba(255, 255, 255, 0.578);
    padding-top: 80px;
}
.card-contain{
    overflow-x: hidden;
}
.Subscribe-letter{
    margin-top: 140px;
    padding-top: 140px;
}
.subscribe-box input{
    background-color: #262626;
    width:343px;
    height: 52px;
    padding: 6px 12px 6px 25px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.782);
}
.submit-newsletter{
    border: 2px solid #1dd7b2;
    background: 0 0;
    color: #1dd7b2;
    padding: 13px 24px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.submit-newsletter:hover{
    background-color: #1dd7b2b8;
    color: rgba(255, 255, 255, 0.83);   
}
.footer-info{
    color: rgba(255, 255, 255, 0.578);
}

.icon {
    margin: 5px;
    padding: 5px;
    background-color: #1C1C1C;
    color: rgb(155, 155, 155);
    font-size: 30px;
  }
  .icon:hover {
    background-color: teal;
  }